.featuresContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 13.2rem;
  gap: 12.5rem;
}

.featuresLeft {
  max-width: 44.5rem;
}

.description {
  max-width: 35rem;
}

.featuresRight {
  counter-reset: num;
  max-width: 54rem;
}

.feature {
  display: grid;
  grid-template-rows: 3.9rem 1fr;
  grid-template-columns: 6.7rem 1fr;
  column-gap: 2.8rem;
}

.header {
  font-size: 4rem;
  letter-spacing: -0.7px;
  margin-bottom: 2.4rem;
  font-weight: 700;
  margin-top: 0;
}

.feature__header {
  font-size: 1.6rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.num::before {
  counter-increment: num;
  content: counter(num, decimal-leading-zero);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: hsla(12, 88%, 59%, 1);
  padding: 0.8rem 2.4rem;
  border-radius: 39px;
  color: white;

  font-weight: 700;
}

.feature__description {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
